
__pycache__/
*.py[cod]
*.so
*.egg-info/
.eggs/
.dist/
build/
develop-eggs/
.installed.cfg
pip-wheel-metadata/
*.egg

.ipynb_checkpoints/
*.nbconvert.ipynb
*.html
*.pdf


input/
data/
datasets/
working/
output/
outputs/
models/
checkpoints/
logs/
runs/

.env
.venv
venv/
env/
ENV/
.idea/
.vscode/
*.code-workspace

.DS_Store
Thumbs.db

*.log
*.tmp
*.bak
